.Ivent{
    width: 100%;
    min-height: calc(100vh - 50px - 50px);
    background-color: #fff;
  /*   display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px;
    */
}
.Ivent h1{
    padding: 20px;
}
.Ivent h2{
    padding: 10px;
}
.Ivent p{
    padding: 20px;
}